Data/Bible/version*
Data/EngEBook/*.xcappdata
.*
!/.gitignore
Products
out
zhushi_*
xcuserdata
Podfile.lock
.time_cost
Pods
Product
*.xcshareddata
*.dot
*.DS_Store
DerivedData/
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata
*.xcworkspace/contents.xcworkspacedata
/Pods/
/Podfile_cp
/Podfile.lock
/Products
*.xcworkspace
Android/xriver-android/.cxx
Build/
Data/tingyue/bundles/
